
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
LeaRunFramework_Base_log.ldf
LeaRun.Business/bin/Debug/LeaRun.Business.dll
LeaRun.Business/bin/Debug/LeaRun.Business.pdb
LeaRun.Business/bin/Debug/LeaRun.Entity.dll
LeaRun.Business/bin/Debug/LeaRun.Entity.pdb
LeaRun.Business/bin/Debug/LeaRun.Repository.dll
LeaRun.Business/bin/Debug/LeaRun.Repository.pdb
LeaRun.Business/obj/Debug/LeaRun.Business.csproj.FileListAbsolute.txt
LeaRun.Business/obj/Debug/LeaRun.Business.csprojResolveAssemblyReference.cache
LeaRun.Business/obj/Debug/LeaRun.Business.dll
LeaRun.Business/obj/Debug/LeaRun.Business.pdb
LeaRun.Entity/bin/Debug/LeaRun.Entity.dll
LeaRun.Entity/bin/Debug/LeaRun.Entity.pdb
LeaRun.Entity/obj/Debug/LeaRun.Entity.csproj.FileListAbsolute.txt
LeaRun.Entity/obj/Debug/LeaRun.Entity.csprojResolveAssemblyReference.cache
LeaRun.Entity/obj/Debug/LeaRun.Entity.dll
LeaRun.Entity/obj/Debug/LeaRun.Entity.pdb
LeaRun.Repository/bin/Debug/LeaRun.Repository.dll
LeaRun.Repository/bin/Debug/LeaRun.Repository.pdb
LeaRun.Repository/obj/Debug/LeaRun.Repository.csproj.FileListAbsolute.txt
LeaRun.Repository/obj/Debug/LeaRun.Repository.csprojResolveAssemblyReference.cache
LeaRun.Repository/obj/Debug/LeaRun.Repository.dll
LeaRun.Repository/obj/Debug/LeaRun.Repository.pdb
LeaRun.WebApp/bin/LeaRun.Business.dll
LeaRun.WebApp/bin/LeaRun.Business.pdb
LeaRun.WebApp/bin/LeaRun.Entity.dll
LeaRun.WebApp/bin/LeaRun.Entity.pdb
LeaRun.WebApp/bin/LeaRun.Repository.dll
LeaRun.WebApp/bin/LeaRun.Repository.pdb
LeaRun.WebApp/bin/LeaRun.WebApp.dll
LeaRun.WebApp/bin/LeaRun.WebApp.pdb
LeaRun.WebApp/bin/Microsoft.Web.Infrastructure.xml
LeaRun.WebApp/bin/System.Net.Http.Formatting.xml
LeaRun.WebApp/bin/System.Net.Http.WebRequest.xml
LeaRun.WebApp/bin/System.Net.Http.xml
LeaRun.WebApp/bin/System.Web.Helpers.dll
LeaRun.WebApp/bin/System.Web.Http.WebHost.xml
LeaRun.WebApp/bin/System.Web.Http.xml
LeaRun.WebApp/bin/System.Web.Mvc.xml
LeaRun.WebApp/bin/System.Web.WebPages.Deployment.dll
LeaRun.WebApp/bin/System.Web.WebPages.dll
LeaRun.WebApp/bin/System.Web.WebPages.Razor.dll
LeaRun.WebApp/log/Error.log
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.csproj.FileListAbsolute.txt
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.csprojResolveAssemblyReference.cache
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.dll
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.pdb
LeaRun.WebApp/Web.config
LeaRunFramework_Base.mdf
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.pdb
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.dll
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.pdb
LeaRun.Business/bin/Debug/LeaRun.Business.dll
LeaRun.Business/bin/Debug/LeaRun.Business.pdb
LeaRun.Business/obj/Debug/LeaRun.Business.csproj.FileListAbsolute.txt
LeaRun.Business/obj/Debug/LeaRun.Business.csprojResolveAssemblyReference.cache
LeaRun.Business/obj/Debug/LeaRun.Business.dll
LeaRun.Business/obj/Debug/LeaRun.Business.pdb
LeaRun.WebApp/bin/LeaRun.Business.dll
LeaRun.WebApp/bin/LeaRun.Business.pdb
LeaRun.WebApp/bin/LeaRun.WebApp.dll
LeaRun.WebApp/bin/LeaRun.WebApp.pdb
LeaRun.WebApp/bin/Microsoft.Web.Infrastructure.xml
LeaRun.WebApp/bin/System.Net.Http.Formatting.xml
LeaRun.WebApp/bin/System.Net.Http.WebRequest.xml
LeaRun.WebApp/bin/System.Net.Http.xml
LeaRun.WebApp/bin/System.Web.Helpers.dll
LeaRun.WebApp/bin/System.Web.Http.WebHost.xml
LeaRun.WebApp/bin/System.Web.Http.xml
LeaRun.WebApp/bin/System.Web.Mvc.xml
LeaRun.WebApp/bin/System.Web.WebPages.Deployment.dll
LeaRun.WebApp/bin/System.Web.WebPages.dll
LeaRun.WebApp/bin/System.Web.WebPages.Razor.dll
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.csproj.FileListAbsolute.txt
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.csprojResolveAssemblyReference.cache
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.dll
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.pdb
LeaRun.WebApp/obj/Debug/LeaRun.WebApp.pdb
