@charset "utf-8";
	/* CSS Document */
* {
	padding:0px;
	margin:0px;
	font-size:9pt;
}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd {
	padding:0;
	margin:0
}
ul {
	list-style:none;
}
img {
	border:none;
}
body {
	margin:0px;
	padding:0px;
	font-family:微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
	color:#000000;
	overflow:hidden;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.clear {
	clear:both;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.w1200 {
	width:1000px;
	margin:0 auto;
}
.mt10 {
	margin-top:10px;
}
.blue {
	color:#0059a5;
}
.color_red {
	color:#F00;
}
.jianju10 {
	padding-left:10px;
}
.jianju20 {
	padding-left:20px;
}
.mt7 {
	margin-top:7px;
}
/*header*/
.header {
	height:68px;
	width:100%;
	background:#4A5B79;
    /*background:#2e3e4e;*/
    /*background:#1e71b1;*/
    /*background:#B1181B;*/
    /*background:#34495e;*/
}
#footer {
	height:32px;
	background:#4A5B79;
    /*background:#2e3e4e;*/
    /*background:#1e71b1;*/
    /*background:#B1181B;*/
    /*background:#34495e;*/
	width:100%;
}
.logo {
	margin-top:10px;
	margin-left:10px;
}
.header_right {
	float:right;
	margin-top:25px;
	width:165px;
}
#ContentPannel {
	margin:0px auto;
	height:100%;
	overflow:hidden;
}
#ContentPannel iframe {
	margin-top:0px;
	margin-left:0px;
}
#Headermenu {
	float:right;
	margin-right:0px;
}
#topnav  ul {
	position:relative;
}
#topnav  li.list {
	float:left;
	display:inline;
	margin:3px 12px 0px 0px;
}
#topnav  li a {
	cursor:pointer;
	display:inline;
	float:left;
	width:55px;
	text-align:center;
	height:56px;
	padding:5px 7px 0px;
	text-decoration:none;
	color:#fff;
	text-shadow:0px -1px rgba(0,0,0,0.2);
	-webkit-border-radius:3px;
	border-radius:3px;
	overflow:hidden;
	-moz-border-radius:5px;
	/* Gecko browsers */
    -webkit-border-radius:5px;
	/* Webkit browsers */
    border-radius:5px;
	/* W3C syntax */
}
#topnav  li a:hover {
	background:rgba(0, 0, 0, 0.25);
}
#topnav  li a.onnav {
	background:rgba(0, 0, 0, 0.25);
}
#topnav  li a span {
	display:block;
	margin:0px auto 3px;
	width:32px;
	height:32px;
	overflow:hidden;
}
#topnav  li a span.c1 {
	background:url(../Images/n1.png) no-repeat;
}
#topnav  li a span.c2 {
	background:url(../Images/n2.png) no-repeat;
}
#topnav  li a span.c3 {
	background:url(../Images/n3.png) no-repeat;
}
#topnav  li a span.c4 {
	background:url(../Images/n4.png) no-repeat;
}
#topnav  li a span.c5 {
	background:url(../Images/n5.png) no-repeat;
}
#topnav  li a span.c6 {
	background:url(../Images/n6.png) no-repeat;
}
#topnav  li a span.c7 {
	background:url(../Images/n7.png) no-repeat;
}

/*footer*/
/*#footer {
	height:32px;
	background:#4A5B79;
	width:100%;
}*/
.number {
	color:#fff;
	font-size:14px;
	line-height:32px;
	float:left;
}
.bottom_icon {
    float:right;
    height:32px;
	width:40px;
    padding-top:5px;
    cursor:pointer;
    text-align:center
}
.bottom_icon:hover {
    z-index: 999;
    -moz-opacity: 0.6; /*Firefox*/
    opacity: 0.6; /*Opera*/
    filter: alpha(opacity=60); /*IE*/
}

/*动态Tab
------------------------------------------------*/
.taskbarTabs {
	background:#f5f5f5;
	overflow:hidden;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #ccc;
}
#tabs_container li {
	float:left;
	text-align:center;
	position:relative;
	list-style:none;
}
#tabs_container li {
	height:30px;
}
#tabs_container li span {
	height:30px;
	line-height:29px;
}
#tabs_container li.crent {
	height:30px;
}
#tabs_container li.crent span {
	height:30px;
	line-height:29px;
}
#tabs_container li,#tabs_container li.crent {
	background-repeat:no-repeat;
	background-position:0 0;
}
#tabs_container li span,#tabs_container li.crent span {
	display:inline-block;
	padding:0 15px 0 0px;
	background-repeat:no-repeat;
	background-position:right bottom;
}
#tabs_container li .menua {
	color:#000;
	font-size:12px;
	text-decoration:none;
	position:relative;
}
#tabs_container li.crent .menua,#tabs_container li .menua:hover {
	}#tabs_container li .win_close,#tabs_container li.crent .win_close {
	width:13px;
	height:13px;
	position:absolute;
	top:8px;
	right:5px;
	cursor:pointer;
	display:block;
	overflow:hidden;
	background:url(../Images/tab_delete_ico.png) no-repeat;
}
#tabs_container li .win_close {
	background-position:0 -10px;
	position:absolute;
	z-index:1;
}
#tabs_container li .win_close:hover {
	background-position:0 2px;
}
#tabs_container img {
	vertical-align:middle;
	margin:0px 5px 0px 0px;
	padding-bottom:3px;
}
#dww-menu .mod-hd .selected {
	background:#FFF;
}
#dww-menu .mod-hd .hovermenuselected {
	background:#FFF;
}
#dww-menu {
	overflow:hidden;
	padding-top:5px;
	padding-left:5px;
}
#dww-menu .mod-hd li {
	margin-right:5px;
	cursor:pointer;
	text-align:center;
	height:30px;
	line-height:29px;
	padding:0 10px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-right:1px #dcdcdc solid;
	border-left:1px #dcdcdc solid;
	border-top:1px #dcdcdc solid;
	background:url(../Images/bg_repeat.png) repeat-x 0 0;
	-moz-border-radius-topright:7px;
	-moz-border-radius-topleft:7px;
	-webkit-border-top-right-radius:7px;
	-webkit-border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
}
/*动态Tab
------------------------------------------------*/
.loading_background { 
    display: block; 
    width: 100%; 
    height: 100%; 
    opacity: 0.0; 
    filter: alpha(opacity=00); 
    background:#fff; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 3000; 
} 
#loading {
    color:#666;
	font-size:12pt;
	position:absolute;
	z-index:3001;
	left:42%;
	top:40%;
	border:2px solid #4A5B79;
	width:auto;
	padding:8px 10px 7px 10px;
	background:#fff;
	display:none;
	cursor:pointer;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    box-shadow:0 0 10px #ccc;
}
#loading span {
	font-size:12pt;
}
#loadingGird {
    color:#666;
	font-size:12pt;
	position:absolute;
	z-index:3001;
	left:42%;
	top:40%;
	border:2px solid #4A5B79;
	width:auto;
	padding:8px 10px 7px 10px;
	background:#fff;
	display:none;
	cursor:pointer;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    box-shadow:0 0 10px #ccc;
}
/*========================开始菜单begin=======================*/
.menu {
	font-family:verdana,arial,sans-serif;
	margin:1px 1px;
	float:left;
	cursor:pointer;
}
* {
	padding:0px;
	margin:0px;
	font-size:9pt;
}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd {
	padding:0;
	margin:0
}
ul {
	list-style:none;
}